<!DOCTYPE html>
<html ng-app="myJeopardy">
<head>
	<meta charset="utf-8">
	<title>Jeopardy</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <!-- 
	<script src="js/ui-bootstrap-0.3.0.js"></script>
-->
<link rel = "stylesheet" href="css/style.css" />
</head>
<body>
	<div class="container-jeopardy" ng-controller="BoardController" ng-init="loadGame()">
		<div class="masthead">
			<div class="row" style="height:70px">
				<div class="span4">
					<h3 class="muted">Jeopardy Board</h3>
				</div>
				<div class="span3" style="margin-right:10px; margin-left:20px">
					<button class="btn btn-warning" style="margin-top:15px;"  ng-click="loadGame()">Random</button>
				</div>
				<div class="span3" style="text-align:right;">
					<h3 class="muted">Randomized Game</h3>
				</div>
			</div>
		</div>

		<div id="maintest2">
			<table class="table table-bordered jeopardyboard" style="background-color: #f5f5f5;">
				<thead>
					<tr id ="head">
						<th></th><th></th><th></th><th></th><th></th><th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--
		<table>
			<tr ng-repeat="item in questions">
				<td>{{item.clue}}</td>
				<td>{{item.answer}}</td>
			</tr>
		</table>
		-->

		<hr style="margin-top:75px;">

		<div class="footer">
			<p>&copy; <a href="http://www.austinschwartz.com">austin</a></p>
		</div>

		<div modal="shouldBeOpen" close="close()" options="opts">
			<div class="modal-header">
				<h4>{{ question.clue }}</h4>
			</div>
			<div class="modal-body">
				<span style="font-weight:bold">Answer: {{ question.answer }}</span><br/>
				Value: {{ question.value | valuefilter }}
			</div>
			<div class="modal-footer">
				<button class="btn btn-info cancel" ng-click="close()">Ok</button>
			</div>
		</div>

		<div modal="loading"  options="loadopts">
			<div class="modal-body" style="text-align:center">
				<h1>Loading...</h1>
			</div>
		</div>
	</div>

	</div>
	<script src="js/jeopardy.js"></script>
	<script src="js/other.js"></script>

</body>
</html>
