<!DOCTYPE html>
<html ng-app="myJeopardy">
  <head>
    <meta charset="utf-8">
    <title>Jeopardy</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
    <link href="//cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel = "stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container-jeopardy" ng-controller="BoardController" ng-init="loadGame()">
      <div class="masthead">
        <div style="height:70px">
          <div style="float:left">
            <h3 class="muted">Jeopardy</h3>
          </div>
          <div style="float:left">
            <button class="btn btn-warning" style="margin-top: 14px; margin-left: 25px;" ng-click="loadGame()">New Game</button>
          </div>
        </div>
      </div>
      <div id="tophero" collapse="isCollapsed">
        <div id="scoringhero" collapse="collapsedScoring">
          <div>
            <h3 ng-cloak>
              Current Score: {{ session.currentscore | valuefilter }}
            </h3>
            <!--<p>-->
            <!--Game count : {{ session.gamecount }}-->
            <!--</p>-->
          </div>
        </div>
      </div>
      <div id="maingrid">
        <table class="table table-bordered jeopardyboard">
          <thead>
            <tr id ="head">
              <th></th><th></th><th></th><th></th><th></th><th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--
        <table>
        <tr ng-repeat="item in questions">
        <td>{{item.clue}}</td>
        <td>{{item.answer}}</td>
        </tr>
        </table>
      -->

      <hr style="margin-top:25px;">

      <div class="footer">
        <p>&copy; <a href="https://github.com/austinschwartz/jeopardy">austin schwartz</a></p>
      </div>

      <div modal="modal.CIModal" close="closeCIModal()" options="CIModalOpts">
        <div class="modal-body ciModalInner ng-class:CIModalClass">
          <p>{{ CIModalText }}</p>
          <br/>

          <p>Answer: {{ question.answer }}</p>
          <p>You said: {{ answerinput }}</p>
        </div>
      </div>

      <div modal="modal.answerModal" close="clearModals()" options="answerOpts" id="answerModal">
        <div class="modal-header">
          <h4>{{ question.clue }}</h4>
        </div>
        <div class="modal-body">
          <div style="float:left" collapse="modal.CIPopout" >
            <!--<span style="font-weight:bold">Answer: {{ question.answer }}</span><br/>-->
            Value: {{ question.value | valuefilter }}<br/>
            <!--index: {{ question.index }}<br/><br/>-->
            <!--Jaro Certainty: {{ (answerdistances.jaro * 100) || 0 | number:0 }}%<br/>
              Dice Certainty: {{ (answerdistances.dice * 100) || 0 | number:0 }}%<br/>-->
          </div>
          <div style="text-align:center" collapse="modal.CIPopout" >
            <form ng-submit="submitAnswer()" name="answerForm">
              <div>
                <div style="margin-top:20px">
                  <span style="font-size: 18px;">What is </span> <input type="text" id ="answerInput" data-ng-model="answerinput" placeholder="Answer" name="answerinput" class="ng-pristine ng-invalid" style="margin-bottom:5px;" > ?
                </div>
                  <!--<p>Answer correct: {{ answercorrect }}</p>-->
              </div>
            </form>
          </div>
          <div collapse="!modal.CIPopout" class="ciPopoutInner">
            <div class="well well-large ng-class:CIPopoutClass">
              <p>{{ CIPopoutText }}</p>
              <br/>

              <p>Answer: {{ question.answer }}</p>
              <p>You said: {{ answerinput }}</p>
            </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning cancel" ng-disabled="modal.CIPopout" ng-click="clearModals()">Cancel</button>
          <button class="btn btn-info cancel" ng-disabled="modal.CIPopout" ng-click="submitAnswer()">Submit Answer</button>
          <!--
            <button class="btn btn-success cancel" ng-click="closeAnswerCorrect()">I got this right</button>
            <button class="btn btn-danger cancel" ng-click="closeAnswerFalse()">I got this wrong</button>
          -->
        </div>
      </div>

      <div modal="modal.loginModal" close="closeLogin()" options="loginOpts" style="height:500px">
        <form ng-submit="login()" name="loginForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" style="margin-top:50px">
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" data-ng-model="username" placeholder="Username" name="username" required="required" class="ng-pristine ng-invalid ng-invalid-required">
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <input type="password" data-ng-model="password" placeholder="Password" name="password" required="required" class="ng-pristine ng-invalid ng-invalid-required">
            </div>
          </div>
          <div class="control-group">
            <div class="controls"><label for="rememberme" class="checkbox">
                <input type="checkbox" data-ng-model="rememberme" name="rememberme" class="ng-pristine ng-valid">Remember me</label>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-info cancel" ng-click="closeLogin()">Cancel</button>
              <button type="submit" class="btn">Log in</button>
            </div>
          </div>
        </div>
      </div>

      <div modal="modal.registerModal" close="closeRegister()" options="registerOpts">
        <form ng-submit="register()" name="registerForm" class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required" style="margin-top:25px;">
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" data-ng-model="username" placeholder="Username" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength">
            </div>
          </div>
          <div class="control-group"><label for="password" class="control-label">Password</label>
            <div class="controls"><input type="password" data-ng-model="password" placeholder="Password" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" data-ng-disabled="registerForm.$invalid" class="btn" disabled="disabled">Submit</button>
            </div>
          </div>
          <div ng-show="registerForm.$invalid" class="alert alert-error" style="margin-bottom:-20px">
            <strong>Please correct the following errors:</strong>
            <ul>
              <li ng-show="registerForm.username.$error.required" style="">Username is required</li>
              <li ng-show="registerForm.username.$error.minlength" style="display: none;">Username has to be at least 1 character long</li>
              <li ng-show="registerForm.username.$error.maxlength" style="display: none;">Username has to be at most 20 character long</li>
              <li ng-show="registerForm.password.$error.required" style="">Password is required</li>
              <li ng-show="registerForm.password.$error.minlength" style="display: none;">Password must be at least 5 characters long</li>
              <li ng-show="registerForm.password.$error.maxlength" style="display: none;">Password must be at most 60 characters long</li>
            </ul>
          </div>
        </form>
      </div>

      <div modal="modal.loadingModal"  options="loadOpts">
        <div class="modal-body" style="text-align:center">
          <h1>Loading...</h1>
        </div>
      </div>
    </div>

    </div>
    <script src="js/jeopardy.js"></script>
    <script src="js/other.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43111202-2', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
